form {
  max-width: 420px;
  margin: 2.5rem auto;
}

label {
  font-weight: bold;
  color: #90caf9;
  margin-bottom: 0.3rem;
}

input,
select {
  padding: 0.7rem 1.2rem;
  border: 1px solid #333;
  border-radius: 8px;
  font-size: 1.1rem;
  background: #181a20;
  color: #e3e3e3;
  outline: none;
  transition: border 0.2s, background 0.2s;
}
input:focus,
select:focus {
  border-color: #1976d2;
  background: #23272f;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::placeholder {
  color: #90caf9;
  opacity: 0.7;
}
