@if (isOpen) {
<div class="modal-backdrop" (click)="close()">
    <div class="modal-content" (click)="$event.stopPropagation()">
        <h2>{{ title }}</h2>
        @if (mode === 'create' ) {

        <label for="eventTitle">Event Title:</label>
        <input id="eventTitle" [(ngModel)]="inputTitle" maxlength="20" placeholder="Enter event title" />
        <button (click)="onCreate()" [disabled]="!inputTitle || inputTitle.trim() === '' || inputTitle.length > 20">Create</button>

        } @else if (mode === 'update') {
        <p>Date: {{ eventDate }}</p>

        <label for="eventTitle">Event Title:</label>
        <input id="eventTitle" [(ngModel)]="inputTitle" maxlength="20" placeholder="Update event title" />
        <button (click)="onUpdate()" [disabled]="!inputTitle || inputTitle.trim() === '' || inputTitle.length > 20">Update</button>

        <button (click)="onDelete()">Delete</button>

        }
        @else if (mode === 'localStorageError') {
        <button (click)="useLocalStorage()">use localstorage </button>
        }

        @if (mode == 'error') {
        <button class="cancel" (click)="close()">ok</button>
        } @else {
        <button class="cancel" (click)="close()">Cancel</button>
        }
    </div>
</div>
}