
<h3>Todo List from api</h3>
@if (!todoitems().length){
    <p>Loading...</p>
}
<section>
    <input name="searchTerm" type="text" placeholder="search todos..." [(ngModel)]="searchTerm"/>

    <input type="text" [(ngModel)]="newTodoTitle" placeholder="add New Todo">
    <button (click)="addTodoItem()">Add Todo</button>

    <button (click)="clearCompleted()">Clear Completed</button>

</section>

<ul>
    @for (todo of todoitems() | filterTodos: searchTerm(); track todo.id) {
        <app-todo-item (todotoggled)="updateTodoItem($event)" [todo]="todo"></app-todo-item>
    }
    
</ul>