<app-finance-forms (formSubmit)="onFormSubmit($event)"></app-finance-forms>


<h2>Current Balance</h2>
@if (balance >= 0) {
<h3 class="positive">{{ balance | currency }}</h3>
} @else {
<h3 class="negative">{{ balance | currency }}</h3>
}

<app-list-transactions [transactions]="entries" (deleteTransactionChange)="deleteEntry($event)"></app-list-transactions>

<h3>Spending Breakdown</h3>
@for (category of categories; track $index) {
<div class="category-summary">
    <h4>{{ category }}</h4>
    <p>Total Spent: {{ getCategoryExpense(category) | currency }}</p>
</div>
}