<app-finance-forms (formSubmit)="onFormSubmit($event)"></app-finance-forms>

<div class="balance-container">
    <h2 class="title">Current Balance</h2>
    @if (balance >= 0) {
        <h3 class="positive">{{ balance | currency }}</h3>
    } @else {
        <h3 class="negative">{{ balance | currency }}</h3>
    }
    
    <app-list-transactions [transactions]="entries" (deleteTransactionChange)="deleteEntry($event)"></app-list-transactions>
</div>
    

<div class="chart-container">
    <h3 class="title">Spending Breakdown</h3>
    <app-balance-chart [transactions]="entries"></app-balance-chart>
</div>

<div class="category-summary-container">
    <h3 class="title">Category Summary</h3>
    @for (category of categories; track $index) {
        <div class="category-summary">
            <h4>{{ category }}</h4>
            <p class="negative">Total: {{ getCategoryExpense(category) | currency }}</p>
            
        </div>
    }
</div>