<h2>Tic Tac Toe</h2>
@if(winner) {
    <h3>Winner: {{ winner }}</h3>
} @else if(!board.includes(null) && !winner) {
    <h3>It's a Draw!</h3>
} @else {
    <h3>Current Player: {{ currentPlayer }}</h3>
}
<div class="tic-tac-toe">
    <div class="board">
        @for (i of [0, 1, 2]; track i) {
            <div class="row">
                @for (j of [0, 1, 2]; track j){
                    <div class="cell" appHighlightWinnerTicTacToe [iswinningCombination]="!!winningCombination?.includes(i*3+j)" (click)="makeMove(i*3+j)">{{ board[i*3+j] }}</div>
                }
            </div>
        } 
    </div>
    <button (click)="resetGame()">Reset</button>
</div>
